:root {
  --oryjin-blue: #1652D9;
  --oryjin-dark: #141C2E;
  --oryjin-black: #000000;
  --oryjin-white: #FFFFFF;
  --oryjin-teal: #037E8F;
  --oryjin-purple: #6302CC;
  --oryjin-surface: #F6F8FC;
  --oryjin-sidebar: #EBF0FF;
  --oryjin-border: #DCE3EF;
}
